/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 70%!important

.hero #main-title
  display none!important

body
  min-height 100vh!important

body #app
  min-height inherit!important

.theme-container
  display flex!important
  flex-direction column!important
  min-height inherit!important

main
  display flex!important
  flex-direction column!important
  flex-grow 1!important

.home .footer
  margin-top auto!important

.theme-default-content,
.page-nav
  width 100%!important
